<div class="container">
	<div class="login-container">
		<div class="container pt-2 pb-2b justify-content-center col-md-4">
			<h1 class="white-text">New Activity</h1>

			<%= render 'form', activity: @activity %>

			<%= link_to 'Back', activities_path, class: "login-page-links" %>
		</div>
	</div>
</div>